* {
    font-family: Helvetica;
}

h1 {
    font-size: 100px;
    color: khaki;
    text-align: center;
    background-image: url("https://content.codecademy.com/courses/freelance-1/unit-2/pattern.jpeg");
}

.prices {
    color: blue;
}

.bold {
    font-weight: bold;
}

/* Body's h2 elements */
h2 {
    font-size: 32px;
    color: white;
}

.brushes h2 {
    background-color: mediumspringgreen;
}
.frames h2 {
    background-color: lightcoral;
}
.paint h2 {
    background-color: skyblue;
}
/* End of Body's h2 elements */
